<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lexer Web Interface</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container-main">
        <h1>Lexer Web Interface</h1>
        <div id="campo-lexico">
            <label for="input">Input:</label>
            <input type="text" id="input" name="input" onkeydown="handleKeyPressParser(event)" placeholder="Insira seu token aqui...">
            <button id="button-parse" onclick="parseInput()">Parse</button>
        </div>
        <div id="output"></div>

        <button id="gatway-postfix">
            <a href="/traduzir">Deseja Realizar a tradução do seu código</a>
        </button>
        <script src="js/script.js"></script> 
    </div>
   